.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  word-break: break-all;
}
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  text-align: center;
  color: #FAFAFA;
  background-color: #C3073F;
  opacity: 0.9;
  padding: 10px;
  font-family: CaviarDreams;
  height: 100%;
}
